<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AngularJS Calculator</title>
	
    <link href="content/css/bootstrap.min.css" rel="stylesheet">
    <link href="content/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="content/css/ng-calc.css" rel="stylesheet">
  </head>
  <body data-ng-app="ng-calc"
        data-ng-controller="calculatorController as vm" 
        data-ng-keydown="vm.controlKeyHandler($event)"
        data-ng-keypress="vm.keyHandler($event)">
    <div class="container">
      <div class="jumbotron">
        <h1>AngularJS Calculator</h1>
      </div>
  	  <div class="container">
  		  <div class="row">
  			  <div class="col-xs-12">
                <div class="well well-lg calculator-display">
                    <div>
                        <span class="h2 pull-left">
                            <span>{{vm.getStoredOperand()}}</span>
                            <span data-ng-bind-html="vm.getOperator()"></span>
                        </span>
                        <span class="h2 pull-right">{{vm.getDigits()}}</span>
                    </div>
                </div>
  			  </div>
  		  </div>
  		  <div class="row">
  			  <div class="container calculator-controls">
  				  <div class="row">
  					  <div class="col-xs-3">
  						  <button type="button" class="btn btn-lg btn-block" data-ng-click="vm.clear()">AC</button>
  					  </div>
  					  <div class="col-xs-3">
  						  <button type="button" class="btn btn-lg btn-block">+/-</button>
  					  </div>
  					  <div class="col-xs-3">
  						  <button type="button" class="btn btn-lg btn-block">%</button>
  					  </div>
  					  <div class="col-xs-3">
  						  <button type="button" class="btn btn-lg btn-block btn-warning" data-ng-click="vm.divide()">&divide;</button>
  					  </div>
  				  </div>
  				  <div class="row">
  					  <div class="col-xs-3">
  						  <button type="button" class="btn btn-lg btn-block" data-ng-click="vm.press(7)">7</button>
  					  </div>
  					  <div class="col-xs-3">
  						  <button type="button" class="btn btn-lg btn-block" data-ng-click="vm.press(8)">8</button>
  					  </div>
  					  <div class="col-xs-3">
  						  <button type="button" class="btn btn-lg btn-block" data-ng-click="vm.press(9)">9</button>
  					  </div>
  					  <div class="col-xs-3">
  						  <button type="button" class="btn btn-lg btn-block btn-warning" data-ng-click="vm.multiply()">&times;</button>
  					  </div>
  				  </div>
  				  <div class="row">
  					  <div class="col-xs-3">
  						  <button type="button" class="btn btn-lg btn-block" data-ng-click="vm.press(4)">4</button>
  					  </div>
  					  <div class="col-xs-3">
  						  <button type="button" class="btn btn-lg btn-block" data-ng-click="vm.press(5)">5</button>
  					  </div>
  					  <div class="col-xs-3">
  						  <button type="button" class="btn btn-lg btn-block" data-ng-click="vm.press(6)">6</button>
  					  </div>
  					  <div class="col-xs-3">
  						  <button type="button" class="btn btn-lg btn-block btn-warning" data-ng-click="vm.minus()">-</button>
  					  </div>
  				  </div>
  				  <div class="row">
  					  <div class="col-xs-3">
  						  <button type="button" class="btn btn-lg btn-block" data-ng-click="vm.press(1)">1</button>
  					  </div>
  					  <div class="col-xs-3">
  						  <button type="button" class="btn btn-lg btn-block" data-ng-click="vm.press(2)">2</button>
  					  </div>
  					  <div class="col-xs-3">
  						  <button type="button" class="btn btn-lg btn-block" data-ng-click="vm.press(3)">3</button>
  					  </div>
  					  <div class="col-xs-3">
  						  <button type="button" class="btn btn-lg btn-block btn-warning" data-ng-click="vm.plus()">+</button>
  					  </div>
  				  </div>
  				  <div class="row">
  					  <div class="col-xs-6">
  						  <button type="button" class="btn btn-default btn-block" data-ng-click="vm.press(0)">0</button>
  					  </div>
  					  <div class="col-xs-3">
  						  <button type="button" class="btn btn-default btn-block" data-ng-click="vm.press('.')">.</button>
  					  </div>
  					  <div class="col-xs-3">
  						  <button type="button" class="btn btn-default btn-block btn-primary" data-ng-click="vm.equals()">=</button>
  					  </div>
  				  </div>
  			  </div>
  		  </div>
  	  </div>
    </div>
    
    <!-- Angular libraries -->
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-animate.min.js"></script>
    <script src="scripts/angular-touch.min.js"></script>
    <script src="scripts/angular-sanitize.min.js"></script>
      
    <script src="app/app.js"></script>
    <script src="app/controllers/calculatorController.js"></script>
    <script src="app/services/digitService.js"></script>
    <script src="app/services/arithmeticService.js"></script>
  </body>
</html>
