div.calculator-controls div.row div {
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 10px;
}

div.calculator-controls button {
	height: 60px;
}

div.calculator-display {
	min-height: 75px;
}

div.calculator-display .h2 {
	margin-top: 0;
}